
.font-face { 
        font-family: "Stencil.otf"; 
        font-style: normal;
        src: url(../WebData/VAL Stencil.otf); /*if IE */ 
       /* src: local("akaPosse"), url("../fonts/akaPosse.ttf") format("truetype");  non-IE */ 
} 